<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Login</title>

    <%- include('header_files') %>
</head>
<body>

<%- include('guest_navbar') %>

<div class="container">
    <div class="col-lg-6 offset-lg-3 py-5 mt-5">
        <div class="card ">
            <div class="card-header bg-dark" >
                <h2 class="text-white">Admin Login</h2>
            </div>
            <div class="card-body">
                <form id="adminLogin">
                    <div class="mb-3">
                        <label for="email">Enter Email</label>
                        <input data-rule-required="true"
                               type="email" id="email" name="email" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="password">Enter Password</label>
                        <input data-rule-required="true"
                               minlength="3"
                               type="password" id="password" name="password" class="form-control">
                    </div>

                    <div class="mb-3">
                        <button onclick="AdminLogin()" type="button" class="btn btn-dark">
                            LOGIN
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<%- include("footer_scripts") %>

<script>
    var AdminLogin = () => {
        $("#adminLogin").validate();

        if ($("#adminLogin").valid()) {

            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;

            var formData = new FormData();
            formData.append("email", email);
            formData.append("password", password);

            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // console.log(this.response);

                    if (this.response == "invalid") {
                        Swal.fire({
                            icon: "warning",
                            title: "Invalid Email or Password"
                        });
                    } else {
                        Swal.fire({
                            icon: "success",
                            title: "Login Success",
                            confirmButtonColor: "#212529"
                        });

                        setTimeout(() => {
                            window.location.href = "/admin-home";
                        }, 3000);
                    }

                }
            }
            http.open("POST", "/admin-login", true);
            http.send(formData);
        }
    }
</script>

</body>
</html>