<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Home</title>

    <%- include('header_files') %>
</head>
<body>

<%- include('navbar') %>

<div class="container py-5 text-center">
    <h2 class="mt-5">Welcome <span class="text-success"><%= name %></span></h2>
</div>


<%- include("footer_scripts") %>

</body>
</html>