<!-- Footer Aare Start -->
<footer class="footer-area btn-white " >
    <!-- footer-top start -->
    <div class="footer-top pt--50 section-pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- footer-info-area start -->
                    <div class="footer-info-area">
                        <div class="footer-logo">
                            <a href="#"><img src="assets/images/logo.png" height="150px" width="150px" alt=""></a> <h1 class="text-lg-start" style="color: #4bc74b"> Fresh Farm </h1>
                        </div>
                        <div class="desc_footer">
                            <p><i class="fa fa-home"></i> <span>213 At Amritsar</span>
                            </p>
                            <p><i class="fa fa-phone"></i> <span>7862729646</span></p>
                            <p><i class="fa fa-envelope-open-o"></i> <span> sit214@gmail.com</span></p>
                            <div class="link-follow-footer ">
                                <ul class="footer-social-share" style="color: #4bc74b">
                                    <li><a href="https://twitter.com/explore" style="color: #4bc74b"><i class="fa-brands fa-twitter " ></i> </a> </li>
                                    <li><a href="https://www.instagram.com/" style="color: #4bc74b"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="https://www.google.co.in/" style="color: #4bc74b"><i class="fa-brands fa-google-plus"></i></a></li>
                                    <li><a style="color: #4bc74b" href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwi4rP3b2f35AhVsmGYCHbvhBosYABAAGgJzbQ&ohost=www.google.com&cid=CAASJeRodrQLsX3WzVQPkACMiDL9dTBBa53rq2CYIvKdcjQlXqtio9o&sig=AOD64_1KRwnSZ9qCMuvRBV2VPpE9uAlK9w&q&adurl&ved=2ahUKEwiW0vbb2f35AhX7RWwGHaeuCLoQ0Qx6BAgJEAE"><i class="fa-brands fa-facebook"></i></a></li>
                                    <li><a href="https://www.youtube.com/" style="color: #4bc74b"><i class="fa-brands fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- footer-info-area end -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <!-- footer-info-area start -->
                            <div class="footer-info-area">
                                <div class="footer-title">
                                    <h3>Products</h3>
                                </div>
                                <div class="desc_footer">
                                    <ul>
                                        <li><a href="#" style="color: #4bc74b">Prices drop</a></li>
                                        <li><a href="#"style="color: #4bc74b"> New products</a></li>
                                        <li><a href="#" style="color: #4bc74b"> Best sales</a></li>
                                        <li><a href="#" style="color: #4bc74b"> Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- footer-info-area end -->
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!-- footer-info-area start -->
                            <div class="footer-info-area">
                                <div class="footer-title">
                                    <h3>Our company</h3>
                                </div>
                                <div class="desc_footer">
                                    <ul>
                                        <li><a href="#" style="color: #4bc74b">Delivery</a></li>
                                        <li><a href="#" style="color: #4bc74b">About us</a></li>
                                        <li><a href="#" style="color: #4bc74b">Contact us</a></li>
                                        <li><a href="#" style="color: #4bc74b">Sitemap</a></li>
                                        <li><a href="#" style="color: #4bc74b">Stores</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- footer-info-area end -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <!-- footer-info-area start -->
                    <div class="footer-info-area">
                        <div class="footer-title">
                            <h3>Join Our Newsletter Now </h3>
                        </div>
                        <div class="desc_footer">
                            <div class="input-newsletter">
                                <input name="email" class="input_text" value="" placeholder="Your email address"
                                       type="text">
                                <button class="btn-newsletter"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                            <p>Get E-mail updates about our latest shop and special offers.</p>
                        </div>
                    </div>
                    <!-- footer-info-area end -->
                </div>
            </div>
        </div>
    </div>

    <!-- footer-top end -->
    <!-- footer-buttom start -->
    <div class="footer-buttom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="copy-right">
                        <p> Welcome to Fresh Farm </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--     footer-buttom start -->
</footer>
<!-- Footer Aare End -->


