<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Boyka - Fashion eCommerce</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- CSS
    ========================= -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Font CSS -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<!-- Main Wrapper Start -->
<div class="main-wrapper">

    <%- include("new_navbar"); %>

    <!-- Hero Slider start -->
    <div class="hero-slider hero-slider-one">
        <div class="single-slide" style="background-image: url(assets/images/slider/slider-h3-bg-1.jpg)">
            <!-- Hero Content One Start -->
            <div class="hero-content-one container">
                <div class="row">
                    <div class="col">
                        <div class="slider-text-info text-white">
                            <h1>Classic Leather Accessories </h1>
                            <h1>Amazing For Men's</h1>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla pariatur. Excepteur sint occaecat</p>
                            <a href="shop.html" class="btn slider-btn uppercase"><span><i class="fa fa-plus"></i> Shop Now</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero Content One End -->
        </div>
        <div class="single-slide" style="background-image: url(assets/images/slider/slider-h3-bg-2.jpg)">
            <!-- Hero Content One Start -->
            <div class="hero-content-one container">
                <div class="row">
                    <div class="col">
                        <div class="slider-text-info text-black">
                            <h1>Spring Men's T-Shirt</h1>
                            <h1>Amazing Men's</h1>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla pariatur. Excepteur sint occaecat</p>
                            <a href="shop.html" class="btn slider-btn uppercase"><span><i class="fa fa-plus"></i> SHOP NOW</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero Content One End -->
        </div>
    </div>
    <!-- Hero Slider end -->

    <!-- Categories List Post area start-->
    <div class="poslistcategories-area mt--30">
        <div class="container-fluid plr-30">
            <div class="row product-categproes-active">
                <div class="col-lg-3">
                    <!-- categories-list-post-item start -->
                    <div class="categories-list-post-item">
                        <img src="assets/images/category/1.jpg" alt="">
                        <a href="#" class="category-inner">Earrings</a>
                    </div>
                    <!-- categories-list-post-item end -->
                </div>
                <div class="col-lg-3">
                    <!-- categories-list-post-item start -->
                    <div class="categories-list-post-item">
                        <img src="assets/images/category/2.jpg" alt="">
                        <a href="#" class="category-inner">Necklaces</a>
                    </div>
                    <!-- categories-list-post-item end -->
                </div>
                <div class="col-lg-3">
                    <!-- categories-list-post-item start -->
                    <div class="categories-list-post-item">
                        <img src="assets/images/category/3.jpg" alt="">
                        <a href="#" class="category-inner">Bracelets</a>
                    </div>
                    <!-- categories-list-post-item end -->
                </div>
                <div class="col-lg-3">
                    <!-- categories-list-post-item start -->
                    <div class="categories-list-post-item">
                        <img src="assets/images/category/4.jpg" alt="">
                        <a href="#" class="category-inner">Portfolio</a>
                    </div>
                    <!-- categories-list-post-item end -->
                </div>
                <div class="col-lg-3">
                    <!-- categories-list-post-item start -->
                    <div class="categories-list-post-item">
                        <img src="assets/images/category/1.jpg" alt="">
                        <a href="#" class="category-inner">Popovers</a>
                    </div>
                    <!-- categories-list-post-item end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Categories List Post area -->

    <!-- Product Area Start -->
    <div class="product-area section-pt section-pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- section-title start -->
                    <div class="section-title section-bg-2">
                        <h2> New Arrivals </h2>
                        <p>Most Trendy 2021 Clother</p>
                    </div>
                    <!-- section-title end -->
                </div>
            </div>
            <!-- product-wrapper start -->
            <div class="product-wrapper">
                <div class="product-slider">
                    <!-- single-product-wrap start -->
                    <div class="single-product-wrap">
                        <div class="product-image">
                            <a href="product-details.html"><img src="assets/images/product/9.jpg" alt=""></a>
                            <span class="label-product label-new">new</span>
                            <span class="label-product label-sale">-9%</span>
                            <div class="quick_view">
                                <a href="#" title="quick view" class="quick-view-btn" data-bs-toggle="modal"
                                   data-bs-target="#exampleModalCenter"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Fusce nec facilisi</a></h3>
                            <div class="price-box">
                                <span class="new-price">$53.27</span>
                                <span class="old-price">$58.49</span>
                            </div>
                            <div class="product-action">
                                <button class="add-to-cart" title="Add to cart"><i class="fa fa-plus"></i> Add to cart
                                </button>
                                <div class="star_content">
                                    <ul class="d-flex">
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star-o" href="#"><i class="fa fa-star-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-product-wrap end -->
                    <!-- single-product-wrap start -->
                    <div class="single-product-wrap">
                        <div class="product-image">
                            <a href="product-details.html"><img src="assets/images/product/4.jpg" alt=""></a>
                            <span class="label-product label-new">new</span>
                            <span class="label-product label-sale">-7%</span>
                            <div class="quick_view">
                                <a href="#" title="quick view" class="quick-view-btn" data-bs-toggle="modal"
                                   data-bs-target="#exampleModalCenter"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Sprite Yoga Straps1</a></h3>
                            <div class="price-box">
                                <span class="new-price">$57.27</span>
                                <span class="old-price">$52.49</span>
                            </div>
                            <div class="product-action">
                                <button class="add-to-cart" title="Add to cart"><i class="fa fa-plus"></i> Add to cart
                                </button>
                                <div class="star_content">
                                    <ul class="d-flex">
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star-o" href="#"><i class="fa fa-star-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-product-wrap end -->
                    <!-- single-product-wrap start -->
                    <div class="single-product-wrap">
                        <div class="product-image">
                            <a href="product-details.html"><img src="assets/images/product/5.jpg" alt=""></a>
                            <span class="label-product label-new">new</span>
                            <span class="label-product label-sale">-7%</span>
                            <div class="quick_view">
                                <a href="#" title="quick view" class="quick-view-btn" data-bs-toggle="modal"
                                   data-bs-target="#exampleModalCenter"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Wrinted Summer Dress</a></h3>
                            <div class="price-box">
                                <span class="new-price">$51.27</span>
                                <span class="old-price">$54.49</span>
                            </div>
                            <div class="product-action">
                                <button class="add-to-cart" title="Add to cart"><i class="fa fa-plus"></i> Add to cart
                                </button>
                                <div class="star_content">
                                    <ul class="d-flex">
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star-o" href="#"><i class="fa fa-star-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-product-wrap end -->
                    <!-- single-product-wrap start -->
                    <div class="single-product-wrap">
                        <div class="product-image">
                            <a href="product-details.html"><img src="assets/images/product/6.jpg" alt=""></a>
                            <span class="label-product label-new">new</span>
                            <span class="label-product label-sale">-4%</span>
                            <div class="quick_view">
                                <a href="#" title="quick view" class="quick-view-btn" data-bs-toggle="modal"
                                   data-bs-target="#exampleModalCenter"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Printed Dress</a></h3>
                            <div class="price-box">
                                <span class="new-price">$91.27</span>
                                <span class="old-price">$84.49</span>
                            </div>
                            <div class="product-action">
                                <button class="add-to-cart" title="Add to cart"><i class="fa fa-plus"></i> Add to cart
                                </button>
                                <div class="star_content">
                                    <ul class="d-flex">
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star-o" href="#"><i class="fa fa-star-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-product-wrap end -->
                    <!-- single-product-wrap start -->
                    <div class="single-product-wrap">
                        <div class="product-image">
                            <a href="product-details.html"><img src="assets/images/product/7.jpg" alt=""></a>
                            <span class="label-product label-new">new</span>
                            <span class="label-product label-sale">-7%</span>
                            <div class="quick_view">
                                <a href="#" title="quick view" class="quick-view-btn" data-bs-toggle="modal"
                                   data-bs-target="#exampleModalCenter"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Printed Summer Dress</a></h3>
                            <div class="price-box">
                                <span class="new-price">$51.27</span>
                                <span class="old-price">$54.49</span>
                            </div>
                            <div class="product-action">
                                <button class="add-to-cart" title="Add to cart"><i class="fa fa-plus"></i> Add to cart
                                </button>
                                <div class="star_content">
                                    <ul class="d-flex">
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star" href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a class="star-o" href="#"><i class="fa fa-star-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-product-wrap end -->
                </div>
            </div>
            <!-- product-wrapper end -->
        </div>
    </div>
    <!-- Product Area End -->

    <!-- Our Brand Area Start -->
    <div class="our-brand-area  section-pb">
        <div class="container">
            <div class="row our-brand-active text-center">
                <div class="col-12">
                    <div class="single-brand">
                        <a href="#"><img src="assets/images/brand/1.png" alt=""></a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="single-brand">
                        <a href="#"><img src="assets/images/brand/2.png" alt=""></a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="single-brand">
                        <a href="#"><img src="assets/images/brand/3.png" alt=""></a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="single-brand">
                        <a href="#"><img src="assets/images/brand/4.png" alt=""></a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="single-brand">
                        <a href="#"><img src="assets/images/brand/5.png" alt=""></a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="single-brand">
                        <a href="#"><img src="assets/images/brand/6.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Brand Area End -->

    <%- include("footer"); %>

</div>

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>

</body>
</html>