<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Change Password</title>
    <%- include('../header_files') %>
</head>
<body>

<%- include("user_navbar") %>

<div class="container mt-5 py-5">
    <div class="col-lg-6 offset-lg-3">
        <h2>User Change Password</h2>
        <hr>
        <form id="userchangePassword">
            <div class="mb-3">
                <label for="current">Current Password</label>
                <input data-rule-required="true"
                       type="password" id="current" name="current" class="form-control">
            </div>

            <div class="mb-3">
                <label for="new">New Password</label>
                <input data-rule-required="true"
                       type="password" id="new" name="new" class="form-control">
            </div>

            <div class="mb-3">
                <label for="confirm">Confirm Password</label>
                <input data-rule-required="true"
                       data-rule-equalto="#new"
                       type="password" id="confirm" name="confirm" class="form-control">
            </div>

            <div class="mb-3">
                <button onclick="UserChangePassword()" type="button" class="btn btn-success">
                    CHANGE PASSWORD
                </button>
            </div>
        </form>
    </div>
</div>

<%- include("../footer_scripts") %>

<script>
    var UserChangePassword = () => {
        $("#userchangePassword").validate();

        if ($("#userchangePassword").valid()) {

            var current = document.getElementById("current").value;
            var newPassword = document.getElementById("new").value;
            var confirm = document.getElementById("confirm").value;

            var formData = new FormData();
            formData.append("current", current);
            formData.append("newPassword", newPassword);
            formData.append("confirmPassword", confirm);

            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // console.log(this.response);

                    if (this.response == "error") {
                        Swal.fire({
                            icon: "error",
                            title: "Internal Server Error"
                        });
                    } else if (this.response == "invalid") {
                        Swal.fire({
                            icon: "warning",
                            title: "Invalid Old Password"
                        });
                    } else {
                        Swal.fire({
                            icon: "success",
                            title: "Password updated successfully",
                            confirmButtonColor: "#198754",
                        });
                        document.getElementById("changePassword").reset();
                    }

                }
            }

            http.open("POST", "/change-password", true);
            http.send(formData);

        }
    }
</script>
</body>
</html>