<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Dashboard</title>
    <%- include('../header_files') %>
</head>
<body>

<%- include("user_navbar") %>

<div class="container py-5 text-center">
    <h1 class="mt-5">Welcome <span class="text-success"><%= username %></span></h1>
</div>

<%- include("../footer_scripts") %>

</body>
</html>